
body {
    background-color: #f8fafc;
}

/* View Transition animations - remove default opacity fade */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

/* Content box morphing animation */
::view-transition-old(content-box),
::view-transition-new(content-box) {
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Smooth height transitions for content boxes */
.content-box-transition {
    transition: all 0.3s ease-in-out;
}

.background-bg {
    background-image: url('/mountain.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.snowflakes {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150vw;
    height: 150vh;
    margin-left: -75vw;
    margin-top: -75vh;
    pointer-events: none;
    z-index: 9999;
    transform: translate3d(var(--translate-x, 0px), 0, 0);
    transition: transform 0.3s ease-out;
    will-change: transform;
    view-transition-name: none;
}

.snowflakes.wind-active {
    animation: wind-tilt 4.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes wind-tilt {
    0%, 15% {
        transform: translate3d(var(--translate-x, 0px), 0, 0) rotate(0deg);
    }
    35% {
        transform: translate3d(var(--translate-x, 0px), 0, 0) rotate(-30deg);
    }
    100% {
        transform: translate3d(var(--translate-x, 0px), 0, 0) rotate(0deg);
    }
}

.snowflake {
    position: absolute;
    top: -10px;
    opacity: 0.8;
    animation: fall linear infinite, rotate linear infinite;
    animation-duration: var(--fall-duration), var(--rotation-duration);
    will-change: transform;
}

/* Wind gust doesn't change animation - JS will manipulate playbackRate */

.snowflake svg {
    width: 100%;
    height: 100%;
}

@keyframes fall {
    from {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    to {
        transform: translate3d(0, 150vh, 0) rotate(calc(360deg * var(--rotation-direction)));
    }
}
